/* Coolors Exported Palette - https://coolors.co/fdaeba-e18080-fe829b-fea5b2-ede6ea */

/* CSS HEX */
--cherry-blossom-pink: #FDAEBAff;
--light-coral: #E18080ff;
--salmon-pink: #FE829Bff;
--salmon-pink-2: #FEA5B2ff;
--lavender-blush: #EDE6EAff;

/* CSS HSL */
--cherry-blossom-pink: hsla(351, 95%, 84%, 1);
--light-coral: hsla(0, 62%, 69%, 1);
--salmon-pink: hsla(348, 98%, 75%, 1);
--salmon-pink-2: hsla(351, 98%, 82%, 1);
--lavender-blush: hsla(326, 16%, 92%, 1);

/* SCSS HEX */
$cherry-blossom-pink: #FDAEBAff;
$light-coral: #E18080ff;
$salmon-pink: #FE829Bff;
$salmon-pink-2: #FEA5B2ff;
$lavender-blush: #EDE6EAff;

/* SCSS HSL */
$cherry-blossom-pink: hsla(351, 95%, 84%, 1);
$light-coral: hsla(0, 62%, 69%, 1);
$salmon-pink: hsla(348, 98%, 75%, 1);
$salmon-pink-2: hsla(351, 98%, 82%, 1);
$lavender-blush: hsla(326, 16%, 92%, 1);

/* SCSS RGB */
$cherry-blossom-pink: rgba(253, 174, 186, 1);
$light-coral: rgba(225, 128, 128, 1);
$salmon-pink: rgba(254, 130, 155, 1);
$salmon-pink-2: rgba(254, 165, 178, 1);
$lavender-blush: rgba(237, 230, 234, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-right: linear-gradient(90deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-bottom: linear-gradient(180deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-left: linear-gradient(270deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-top-right: linear-gradient(45deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-bottom-right: linear-gradient(135deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-top-left: linear-gradient(225deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-bottom-left: linear-gradient(315deg, #FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);
$gradient-radial: radial-gradient(#FDAEBAff, #E18080ff, #FE829Bff, #FEA5B2ff, #EDE6EAff);