.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,700 C 0,700 0,233 0,233 C 97.00478468899522,194.73205741626793 194.00956937799043,156.46411483253587 295,152 C 395.99043062200957,147.53588516746413 500.96650717703346,176.8755980861244 591,207 C 681.0334928229665,237.1244019138756 756.1244019138757,268.03349282296654 844,277 C 931.8755980861243,285.96650717703346 1032.5358851674641,272.99043062200957 1134,262 C 1235.4641148325359,251.00956937799043 1337.732057416268,242.00478468899522 1440,233 C 1440,233 1440,700 1440,700 Z'
    );
  }
  25% {
    d: path(
      'M 0,700 C 0,700 0,233 0,233 C 105.27272727272728,271.6794258373206 210.54545454545456,310.3588516746412 309,313 C 407.45454545454544,315.6411483253588 499.0909090909091,282.2440191387559 595,253 C 690.9090909090909,223.75598086124407 791.090909090909,198.66507177033498 894,217 C 996.909090909091,235.33492822966502 1102.5454545454547,297.0956937799043 1194,307 C 1285.4545454545453,316.9043062200957 1362.7272727272725,274.95215311004785 1440,233 C 1440,233 1440,700 1440,700 Z'
    );
  }
  50% {
    d: path(
      'M 0,700 C 0,700 0,233 0,233 C 61.72248803827753,207.4019138755981 123.44497607655506,181.80382775119617 238,189 C 352.55502392344494,196.19617224880383 519.9425837320574,236.18660287081337 614,255 C 708.0574162679426,273.8133971291866 728.7846889952153,271.4497607655502 820,241 C 911.2153110047847,210.55023923444978 1072.9186602870814,152.01435406698565 1188,146 C 1303.0813397129186,139.98564593301435 1371.5406698564593,186.49282296650716 1440,233 C 1440,233 1440,700 1440,700 Z'
    );
  }
  75% {
    d: path(
      'M 0,700 C 0,700 0,233 0,233 C 127.76076555023923,261.88995215311 255.52153110047846,290.7799043062201 340,278 C 424.47846889952154,265.2200956937799 465.67464114832535,210.77033492822966 540,201 C 614.3253588516747,191.22966507177034 721.7799043062201,226.13875598086128 827,237 C 932.2200956937799,247.86124401913872 1035.2057416267942,234.67464114832535 1137,230 C 1238.7942583732058,225.32535885167465 1339.3971291866028,229.16267942583733 1440,233 C 1440,233 1440,700 1440,700 Z'
    );
  }
  100% {
    d: path(
      'M 0,700 C 0,700 0,233 0,233 C 97.00478468899522,194.73205741626793 194.00956937799043,156.46411483253587 295,152 C 395.99043062200957,147.53588516746413 500.96650717703346,176.8755980861244 591,207 C 681.0334928229665,237.1244019138756 756.1244019138757,268.03349282296654 844,277 C 931.8755980861243,285.96650717703346 1032.5358851674641,272.99043062200957 1134,262 C 1235.4641148325359,251.00956937799043 1337.732057416268,242.00478468899522 1440,233 C 1440,233 1440,700 1440,700 Z'
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,700 C 0,700 0,466 0,466 C 66.94736842105263,447.0622009569378 133.89473684210526,428.1244019138756 238,410 C 342.10526315789474,391.8755980861244 483.36842105263156,374.5645933014354 584,390 C 684.6315789473684,405.4354066985646 744.6315789473686,453.61722488038276 847,475 C 949.3684210526314,496.38277511961724 1094.1052631578946,490.9665071770335 1200,485 C 1305.8947368421054,479.0334928229665 1372.9473684210527,472.51674641148327 1440,466 C 1440,466 1440,700 1440,700 Z'
    );
  }
  25% {
    d: path(
      'M 0,700 C 0,700 0,466 0,466 C 106.20095693779902,451.39712918660285 212.40191387559804,436.7942583732057 320,430 C 427.59808612440196,423.2057416267943 536.5933014354067,424.22009569377997 618,451 C 699.4066985645933,477.77990430622003 753.2248803827753,530.3253588516747 835,532 C 916.7751196172247,533.6746411483253 1026.5071770334928,484.4784688995215 1132,465 C 1237.4928229665072,445.5215311004785 1338.7464114832537,455.7607655502393 1440,466 C 1440,466 1440,700 1440,700 Z'
    );
  }
  50% {
    d: path(
      'M 0,700 C 0,700 0,466 0,466 C 118.88038277511961,420.44976076555025 237.76076555023923,374.8995215311005 328,380 C 418.2392344497608,385.1004784688995 479.83732057416273,440.85167464114835 554,449 C 628.1626794258373,457.14832535885165 714.88995215311,417.6937799043062 816,410 C 917.11004784689,402.3062200956938 1032.6028708133972,426.3732057416268 1139,441 C 1245.3971291866028,455.6267942583732 1342.6985645933014,460.81339712918657 1440,466 C 1440,466 1440,700 1440,700 Z'
    );
  }
  75% {
    d: path(
      'M 0,700 C 0,700 0,466 0,466 C 82,488.2870813397129 164,510.5741626794258 262,489 C 360,467.4258373205742 474,401.99043062200957 576,391 C 678,380.00956937799043 767.9999999999999,423.46411483253587 859,452 C 950.0000000000001,480.53588516746413 1042,494.15311004784684 1139,494 C 1236,493.84688995215316 1338,479.92344497607655 1440,466 C 1440,466 1440,700 1440,700 Z'
    );
  }
  100% {
    d: path(
      'M 0,700 C 0,700 0,466 0,466 C 66.94736842105263,447.0622009569378 133.89473684210526,428.1244019138756 238,410 C 342.10526315789474,391.8755980861244 483.36842105263156,374.5645933014354 584,390 C 684.6315789473684,405.4354066985646 744.6315789473686,453.61722488038276 847,475 C 949.3684210526314,496.38277511961724 1094.1052631578946,490.9665071770335 1200,485 C 1305.8947368421054,479.0334928229665 1372.9473684210527,472.51674641148327 1440,466 C 1440,466 1440,700 1440,700 Z'
    );
  }
}
